<style>
.nav-link:hover{
    color: white;
    text-shadow: rgb(165, 140, 29) 1px 0 10px;
    text-decoration: underline;
  }

.nav-link{
  transition: 0.5s;
}

.isActive{
  color: yellow;
  text-decoration: underline;
}

.navbar-brand{
  font-family: "Jersey 10", sans-serif;
  font-size: 45px;
}
</style>



<nav class="navbar navbar-expand-lg bg-dark fs-5" data-bs-theme="dark">
  <div class="container-fluid ms-4">
    <a class="navbar-brand p-0" href="/home">Mine<span class="text-warning me-4">Trace</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link home-nav" aria-current="page" href="/home">Home</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link add-nav" href="/addmine">AddMine</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link data-nav" href="/index">Your Data</a>
        </li>

        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<script>
  const add = document.querySelector('.add-nav');
  const home = document.querySelector('.home-nav');
  const path = window.location.pathname;
  if(path === '/home')
  {
    home.classList.add('isActive');
  }
  else if(path === '/addmine')
  {
    add.classList.add('isActive');
  }
  else{
    home.classList.remove('isActive');
    add.classList.remove('isActive');
  }
</script>